@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply outline-none px-4 py-2 inline-block text-center cursor-pointer shadow-md;
  }

  .btn-rounded {
    @apply outline-none rounded-lg px-4 py-2 inline-block text-center cursor-pointer shadow-md;
  }

  .file-name {
    @apply px-4 py-2 overflow-hidden text-ellipsis whitespace-nowrap text-center text-black bg-white;
  }
}

.file-upload input[type='file'] {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  opacity: 0;
}

@layer components {
  @responsive {
    .text-shadow {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-lg {
      text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-none {
      text-shadow: none;
    }
  }
}
