html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

.rainbow-bg {
  background: linear-gradient(
    to right,
    rgb(254, 163, 170),
    rgb(248, 184, 139),
    rgb(250, 248, 132),
    rgb(186, 237, 145),
    rgb(178, 206, 254),
    rgb(242, 162, 232)
  );
  background-size: 1000% 1000%;
  animation: rainbow 20s ease infinite;
  height: 100vh;
  padding: 10px;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Loader from: https://loading.io/css/ */

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
